body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #283f89;
  font-family: sans-serif;
}

a.home {
  text-decoration: none;
  color: white;
}
a.home:hover {
  color: #f59a5e;
}

.container {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align:center;
  color: white;

}

main {
  background-color: rgba(255, 255, 255, 10%);
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
}

main h2 {
  text-align:center;
  color:white;
}

main ul {
  list-style: decimal;
  font-size: 1.1rem;
}

main a {
  text-decoration: none;
  color: #f59a5e;
}

footer {
  text-align: center;
  color: white;
}